@tailwind base;
@tailwind components;
@tailwind utilities;

  @layer base {
    
:root  {
  --background: 233 50% 100%;
  --foreground: 233 5% 10%;
  --card: 233 50% 100%;
  --card-foreground: 233 5% 15%;
  --popover: 233 50% 100%;
  --popover-foreground: 233 95% 10%;
  --primary: 233 88.9% 14.1%;
  --primary-foreground: 0 0% 100%;
  --secondary: 233 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 195 30% 95%;
  --muted-foreground: 233 5% 40%;
  --accent: 195 30% 90%;
  --accent-foreground: 233 5% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 233 5% 100%;
  --border: 233 30% 82%;
  --input: 233 30% 50%;
  --ring: 233 88.9% 14.1%;
  --radius: 0.75rem;
}
.dark  {
  --background: 233 50% 10%;
  --foreground: 233 5% 100%;
  --card: 233 50% 10%;
  --card-foreground: 233 5% 100%;
  --popover: 233 50% 5%;
  --popover-foreground: 233 5% 100%;
  --primary: 233 88.9% 14.1%;
  --primary-foreground: 0 0% 100%;
  --secondary: 233 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 195 30% 25%;
  --muted-foreground: 233 5% 65%;
  --accent: 195 30% 25%;
  --accent-foreground: 233 5% 95%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 233 5% 100%;
  --border: 233 30% 50%;
  --input: 233 30% 50%;
  --ring: 233 88.9% 14.1%;
  --radius: 0.75rem;
}

  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }