@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root  {
    --background: 241 100% 95%;
    --foreground: 241 5% 0%;
    --card: 241 50% 90%;
    --card-foreground: 241 5% 10%;
    --popover: 241 100% 95%;
    --popover-foreground: 241 100% 0%;
    --primary: 241 60.5% 44.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 241 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 203 30% 85%;
    --muted-foreground: 241 5% 35%;
    --accent: 203 30% 80%;
    --accent-foreground: 241 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 241 5% 90%;
    --border: 241 30% 50%;
    --input: 241 30% 18%;
    --ring: 241 60.5% 44.7%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 241 50% 5%;
    --foreground: 241 5% 90%;
    --card: 241 50% 0%;
    --card-foreground: 241 5% 90%;
    --popover: 241 50% 5%;
    --popover-foreground: 241 5% 90%;
    --primary: 241 60.5% 44.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 241 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 203 30% 15%;
    --muted-foreground: 241 5% 60%;
    --accent: 203 30% 15%;
    --accent-foreground: 241 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 241 5% 90%;
    --border: 241 30% 18%;
    --input: 241 30% 18%;
    --ring: 241 60.5% 44.7%;
    --radius: 0.5rem;
  }
}

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }